In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [2]:
train = pd.read_csv('train.csv', index_col=0)
test = pd.read_csv('test.csv', index_col=0)

In [30]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   y       10000 non-null  float64
 1   x1      10000 non-null  float64
 2   x2      10000 non-null  float64
 3   x3      10000 non-null  float64
 4   x4      10000 non-null  float64
 5   x5      10000 non-null  float64
 6   x6      10000 non-null  float64
 7   x7      10000 non-null  float64
 8   x8      10000 non-null  float64
 9   x9      10000 non-null  float64
 10  x10     10000 non-null  float64
dtypes: float64(11)
memory usage: 937.5 KB

In [4]:
test.head()

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10
Id,,,,,,,,,,
10000,-483.797492,1288.057065,-129.878712,-198.078388,-334.487592,-391.443186,-612.406176,-676.523964,1327.229655,-448.695446
10001,-316.407305,30.830556,-313.356726,-173.259184,-327.368719,944.368248,1122.017380,112.338731,1372.340221,2062.561842
10002,-2448.558997,-561.988408,355.098820,634.378170,-392.450091,-813.156399,-232.873263,246.801210,-562.413197,-841.602015
10003,-942.120025,945.373015,140.910705,1753.565841,-347.223685,-1489.493408,-508.035412,1992.650031,555.461973,-1696.076948
10004,1752.366157,-597.550816,-466.491398,-1094.792276,-645.424882,-202.154830,205.073469,-270.385827,-310.299496,362.212675

In [10]:
X_train, Y_train = train.iloc[:,1:], train[['y']]
X_test = test

In [11]:
model = LinearRegression()
model.fit(X_train, Y_train)

LinearRegression()

In [13]:
Y_test = model.predict(X_test)

In [23]:
Y_test.shape

(2000, 1)

In [26]:
d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=d)
df

   col1  col2
0     1     3
1     2     4

In [25]:
solution = pd.DataFrame({'y':Y_test.squeeze()}, index=test.index)
solution

                y
Id
10000  -66.002423
10001  451.406504
10002 -461.676417
10003   40.501209
10004 -126.744722
...           ...
11995  464.715255
11996  496.485334
11997  -35.135409
11998 -131.679185
11999  417.269155

[2000 rows x 1 columns]

In [31]:
solution.to_csv('prediction.csv')